<h1>Chapo's Cartel</h1>
<p>Find me in app/views/main/home.html.erb</p>

<p>el gato esta lo que sea</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2>BIG LETTERS!!!!!!!!!</h2>
<h3>Hola</h3>
<img src="http://cdn.osxdaily.com/wp-content/uploads/2013/07/dancing-banana.gif">
<img src="http://www.picsymag.com/wp-content/uploads/2015/07/funny-pokemon-gif-breaking-bad.gif">


<a href="http://www.facebook.com" target="_blank">Facebook</a>

<br>

<form action="" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name"><br>
	<label for="password">Password</label>
	<input type="password" name="password"><br>
	<input type="submit" name="submit" value="Login">
	<img src="">
</form>